* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: 'Roboto', -apple-system, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  box-sizing: border-box;
}

body {
  padding: 50px 15px;
  margin: 0;  

  @media (max-width: 1200px) {
    padding: 0;
  }
}

.todo {  
  min-height: 530px;
  max-width: 1200px;
  box-shadow: 1px 2px 20px #f3f3f3;
  border-radius: 10px;
  border-right: 1px solid #f1f1f1;
  font-size: 14px;
  display: flex; 
  margin: 0 auto; 
  overflow-x: hidden;
  position: relative;

  @media (max-width: 1200px) {
    min-height: 100vh;
    border-radius: 0;
  }

  &__sidebar {
    background-color: #f4f6f8;
    width: 240px;    
    border-right: 1px solid #f1f1f1;
    padding: 60px 20px;  
    position: relative;  
    z-index: 1;

    @media (max-width: 1200px) {
      padding: 60px 48px;
      width: 288px;
      transform: translateX(-240px);
      transition: all .3s ease-in-out;
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 1;

      &.active {
        padding: 60px 20px;
        width: 240px;
        transform: translateX(0);        
      }
    }
  } 
  
  &__tasks {
    flex: 1;
    padding: 60px;  
    position: relative;  

    @media (max-width: 1200px) {        
      padding-right: 12px;
    }  
  }
}

.field {
  background-color: #ffffff;
  border: 1px solid #efefef;
  border-radius: 4px;
  padding: 8px 12px;
  width: 100%;
  font-size: 14px;

  &:focus {
    border-color: #dbdbdb;
  }
}

.button {
  background-color: #4dd599;
  border-radius: 4px;
  color: #ffffff;
  border: 0;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;

  &:hover {
    background-color: darken(#4dd599, 6%);
  }

  &:active {
    background-color: darken(#4dd599, 10%);
  }

  &:disabled {
    background-color: #d8d8d8;
  }

  &--grey {
    background-color: #f4f6f8;
    color: #444444;

    &:hover {
      background-color: darken(#f4f6f8, 3%);
    }
  
    &:active {
      background-color: darken(#f4f6f8, 6%);
    }
  }
}

.hamburger {
  display: none;

  @media (max-width: 1200px) {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
  }
}